!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
!!!!!!!!!!!!!!!!XRESOURCES 2020 MOZER (BME & KIT)!!!!!!!!!!!!!!!!!
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!

! ..........................
! rxvt-unicode configuration
! ..........................

! special
*.foreground:   #ffffff
*.background:   #000000
*.cursorColor:  #fff800

! black
*.color0:       #111111
*.color8:       #1111110

! red
*.color1:       #ff0000
*.color9:       #ff0000

! green
*.color2:       #00ff00
*.color10:      #00ff00

! yellow
*.color3:       #fff800
*.color11:      #fff800

! blue
*.color4:       #008df8
*.color12:      #0092ff

! magenta
*.color5:       #ff00bf
*.color13:      #ff00bf

! cyan
*.color6:       #00d8eb
*.color14:      #67fff0

! white
*.color7:       #ffffff
*.color15:      #ffffff


! scrolling
URxvt.scrollTtyOutput: true
URxvt.scrollWithBuffer: true
URxvt.scrollTtyKeypress: true

! font settings
URxvt.font: xft:IBM Plex Mono:size=10

! spacing
! URxvt.letterSpace: -4

! transparency
URxvt.transparent: true
URxvt.shading: 30

! enable/disable scrollbar
URxvt.scrollBar: false

! copy/paste (using perl extension: clipboard)
URxvt.perl-ext-common: clipboard

URxvt.clipboard.autocopy: true
URxvt.keysym.M-c: perl:clipboard:copy
URxvt.keysym.M-v: perl:clipboard:paste
